.input-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    direction: rtl;
}

.filter-select {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.grades-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    direction: rtl;
}

.grades-table th,
.grades-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.grades-table th {
    background-color: #f2e000;
    color: #522160;
}

.grades-table td {
    background-color: #fff;
    color: #333;
}

.download-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #f2e000;
    background-color: #522160;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #f2e000;
    color: #522160;
}
#end{
    margin-top: 150px;
}